body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: hsl(48, 18%, 83%);
}

.examples {
    padding: 3rem;
    max-width: 1200px;
    display: flex;
    gap: clamp(2rem, 8vw, 4rem);
}

button {
    background: transparent;
    border: 10px solid var(--button-color, #000);
    border-radius: 1rem;
}

.button-one {
    --button-color: #333;
}

.button-one .line {
    transition:
        transform 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}

.button-one:hover .line {
    transition:
        transform 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
}

.button-one:hover .middle {
    opacity: 0;
}

/* Kevin follows a bad practice here of manipulating 
 * svg x and y coords, this solution doesn't work in 
 * modern browsers, this is more proper: */
.button-one:hover .top {
    rotate: 45deg;
    transform: translate(0px, 20px);
}

.button-one:hover .bottom {
    rotate: -45deg;
    transform: translate(0px, -20px);
}

/* .button-one[aria-expanded='true'] .top { */
/* } */
